{
    "pocket" : {
        "consumer_key" : "",
        "access_token" : ""
    },
    "ocn" : {
        "user" : "",
        "pass" : "",
        "url" : "",
        "api" : ""
    },
    "badwords" : [
    "1",
    "a",
    "about",
    "an",
    "at",
    "and",
    "au",
    "aux",
    "avec",
    "ce",
    "ces",
    "cette",
    "d",
    "dans",
    "de",
    "des",
    "du",
    "d\u2019une",
    "dont",
    "elle",
    "en",
    "est",
    "et",
    "do",
    "for",
    "il",
    "in",
    "it",
    "je",
    "l",
    "la",
    "le",
    "les",
    "lui",
    "leur",
    "leurs",
    "n",
    "ne",
    "new",
    "n\u2019a",
    "on",
    "of",
    "par",
    "pas",
    "pour",
    "qu",
    "que",
    "qui",
    "s",
    "sa",
    "se",
    "ses",
    "si",
    "son",
    "sur",
    "t",
    "tel",
    "to",
    "the",
    "tout",
    "tous",
    "toutes",
    "un",
    "une",
    "vers",
    "vos",
    "vous",
    "votre",
    "we",
    "y",
    "you"
    ]
}

