{
    "output" : {
        "title" : "Recommandations",
        "filename" : "my.rss.xml",
        "link" : "http://my.url.com"
    },
    "pocket" : {
        "consumer_key" : "",
        "access_token" : "",
        "qty" : 200
    },
    "ocn" : {
        "user" : "",
        "password" : "",
        "url" : "",
        "base_api" : "",
        "qty" : 500,
        "chunk" : 50
    },
    "badwords" : {
        "filename" : "datas/badwords.json",
        "minsize" : 2,
        "words" : "logs/words.json.log"
    },
    "crawler" : {
        "ua_filename" : "datas/user_agents.txt"
    }
}

